

.alerta{

    padding: .5rem;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    color: $blanco;
    text-align: center;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
        color: $blanco;
    }
}

.botones_nuevo{
    display: flex;
    gap: 1rem;
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
    .hidden_element_xs{
        @include telefono{
            display: none;
        }
    }

}

.imagen-small{
    width: 30rem;
}

